.titulo {
    text-align: center;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 70px;
}

.lista-articulo{
    display: flex;
    gap:2%;
    justify-content: center;


}
.articulo{
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.articulo:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.articulo h3{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    padding: 0;
}
.articulo p{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
    padding: 0;
}
.articulo button{
    width: 60%;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px;
}
.articulo img{
    width: 100%;
}

.botones{
    display: flex;
    justify-content: right;
    margin: 20px;
    gap: 10px;
}
.botones div{
    background-color: black;
    width: 35px;
    height: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.articulo button {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
}

.articulo:hover button {
    opacity: 1;
    transform: translateY(0);
}